* {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #017abf;
    padding: 40px;
}

h3 {
    color: white;
}

.container {
    width: 350px;
    background-color: #dfdfdf;
    border-radius: 10px;
    padding-bottom: 10px;
}

.titulo {
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
}

.opciones {
    margin-left: 10px;
    padding: 5px;
    width: 95%;
    background-color: aliceblue;
    border-radius: 10px;
}

.mt10 {
    margin-top: 10px;
}